*   
    margin: 0
    padding: 0
    box-sizing: border-box

.header1
   padding-top: 5px
   padding-bottom: 5px
   padding-left: 13px
   padding-right: 13px
   background-color: rgb(27, 38, 56)
   color: white
   p
       margin-bottom: 0
       text-align: center

.header2
    padding: 15px

.rounded
    width: 75px
    height: 75px

.row
    .col
        background-color: rgb(27, 38, 56)
        padding-left: 3rem
        padding-right: 3rem
        padding-top: 10%
        p
            color: red
            margin-bottom: 0.4rem
            margin-top: 0
        h1
            color: white
            font-weight: bold
            
